<html>
<head>
<style type="text/css">
body
{background-color:#b6cdec;}
</style>
</head>
<body>

<!DOCTYPE html>
        
<h1>Пример сопроводительного письма программиста</h1> 

<p class="date">10943, Одесса – 43,ул. Малышева, 33, кв.15
    <p class="date">15 марта 2006 г.
    <p class="date">Г-ну Иванову Петру Васильевичу,<br>
    Менеджеру по персоналу<br>Компании ВСС,</span>
    <p class="date">10946, Днепропетровск – 46,ул. Валдая, 47</address> 
    </html>
    <html>

        <html>
        <head>
        <style type="text/css">
        h1 {text-align:center;}
        p.date {text-align:right;}
        p.main {text-align:justify;}
        </style>
        </head>
        
         
        <html>
        <head>
        <style type="text/css">
        p.sansserif{font-family:Monotype Corsiva,Helvetica,sans-serif;}
        </style>
        </head>
        <body>
        <h1>Уважаемый г-н Иванов!</h1>
        <p class="sansserif">Меня заинтересовала вакансия на должность разработчика ПО, размещенная на сайте www.jobs.ua.
        Мой выбор был мотивирован интересом к проектированию ПО и БД..
        Владею базовыми знаниями SQL – Sybase , OOA&amp;OOD, UML; 
        Power Builder (или VC++, Visual Basic, Java, Delphi); .NET. 
        Имею опыт разработки приложений в сфере IT, благодаря которому могу внести свой вклад 
        в успешное продвижение вашей компании. 
        Прилагаю копию своего резюме, с детальным описанием квалификации.
        </p>
                
        <p><b>Спасибо за уделенное время и внимание.
        </body>
        <p class="date">C уважением Сергей Миронов
        </html>
        </body>
        </html>




       
       
        



